[Desktop Entry]
Type=Application
Version=1.0
Name=Flotsam
X-Nemo-Application-Type=silica-qt5
X-Nemo-Single-Instance=yes
X-DBusActivatable=true
Exec=/usr/bin/harbour-flotsam
Icon=harbour-flotsam

[X-Sailjail]
Permissions=Privileged;Flotsam;Camera
OrganizationName=uk.co.nationalfantastic
ApplicationName=harbour-flotsam
ExecDBus=harbour-flotsam --prestart
